@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Work+Sans:wght@200;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply w-full;
  }

  .section:not(:last-of-type) {
    @apply mb-8
  }

  .link-main  {
    @apply text-main font-medium relative inline-block after:absolute after:left-0 after:bottom-[0px] after:w-[100%] after:h-1/3 after:bg-main after:z-[-1] after:opacity-60 after:rotate-[-0deg] after:transition-all after:rounded
    hover:after:h-1/2
  }

  .link-orange  {
    @apply text-second font-bold relative inline-block after:absolute after:left-0 after:bottom-1 after:w-full after:h-[.5em] after:bg-second after:z-[-1] after:opacity-60
  }

  .container {
    @apply max-w-[144rem] mx-auto
  }

  .nav__logo {
    @apply w-[75px] object-cover
  }

  .nav__menu {
    @apply flex gap-[4rem] ml-[4rem]
  }

  /* Social */
  .social-wrapper {
    @apply flex gap-4 flex-col relative ml-auto w-[24px] mt-[10rem] flex-none before:absolute before:left-1/2 before:-translate-x-1/2 before:-top-full before:h-[10rem] before:w-[2px] before:bg-main
  }

  .social-wrapper svg {
    @apply text-main
  }
}

:root {
  --color-light: #C7C7C7;
  --color-second: #E0EEFA;
  --color-main: #063970;
  --color-orange: #da532c;
  --color-white: #fff;
  --ff-sans: 'Work Sans', sans-serif;
  --ff-serif: 'Playfair Display', serif;
}


html {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62.5%;
}


body {
  box-sizing: content-box;
  background-color: var(--color-white);
  font-family: var(--ff-sans);
  font-weight: 400;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}
